<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
 <%- include('partials/head')%>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <h3 class="py-2">Today's Visits</h3>
    <div class="list-group">
      <% visits.forEach((e) => {%>
      <!-- <a href="/patient/<%=e.patient._id%>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%=e.patient.name%></h5>
          <div class="flex-row align-items-start justify-content-between d-flex">
          <small class="pr-2"><%=e.ago%></small>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <p class="mb-1">ID: <%=e.patient._id%></p>
        <small><%-e.helpText%></small>
      </a> -->
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1"><%=e.patient.name%></h5>
            <p class="mb-1">ID: <%=e.patient._id%></p>
            <small><%-e.helpText%></small>
          </div>
          <div>
              <div class="pb-2">
              <a class="btn btn-outline-primary col" href="prescription.app://<%=e.patient._id%>">Upload Prescription</a>
              </div>
              <div class="pt-2">
              <a class="btn btn-outline-primary col" href="/patient/<%=e.patient._id%>">View Profile</a>
              </div>
          </div>
        </div>
        
        </li>
      <%})%>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>