<!-- views/patient.ejs -->

<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head')%>
   <!-- tagsinput -->
 <link rel="stylesheet" type="text/css" href="/css/tagsinput.css">
 <script src="/js/tagsinput.js"></script>

  <%   var now = dateformat(new Date(), 'dd/mm/yyyy');%>
  <%- include('partials/forms/tests')%>
  <%- include('partials/forms/medicinesAdvised')%>
  <script type="text/javascript">
    $(() => {
      $('#testsDynamicContainer').testsInput()
      // $('#investigationsDynamicContainer').investigationsInput()
      $('#medicinesAdvisedDynamicContainer').medicinesAdvisedInput()
    })
  </script>
  <script type="text/javascript">
  var investigationsSrc = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.nonword,
    queryTokenizer: Bloodhound.tokenizers.nonword,
    // need to add _ to prevent caching
    prefetch: '/autocomplete/investigations?_=' /*+ (new Date().getTime())*/
  });
  investigationsSrc.initialize()
  $("#investigationsTagsInput").ready(function () {
      myObject = $("#investigationsTagsInput").tagsinput({
        delimiter: '|',
        typeaheadjs: [{
          hint: true,
          highlight: true,
          minLength: 1,
        },
        { 
          name: 'drugs',
          source: investigationsSrc.ttAdapter(),
          limit: 10,
        }],
        freeInput: true
      })
      myObject[0].$input.on('typeahead:asyncrequest', function() {
        console.log("show")
          $('.investigationsTagsInputContainer .Typeahead-spinner').show();
        })
        .on('typeahead:asynccancel typeahead:asyncreceive', function() {
          console.log("hide")
          $('.investigationsTagsInputContainer .Typeahead-spinner').hide();
        });
      $("#prescriptionForm").submit(function(event) {
        // event.preventDefault()
        $("#investigationsTagsInput").tagsinput('items')
          .map(elm => {
            console.log(elm)
            $('<input>').attr({
                type: 'hidden',
                name: 'investigationsRequired[]',
                value: elm,
            }).appendTo('form[id=prescriptionForm]');
          })
        // $("#investigationsRequiredHidden").val($("#investigationsTagsInput").tagsinput('items'))
        // console.log($("#investigationsRequiredHidden").val())
      })
  });
  </script>
  <style type="text/css">
  #scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
  }
  </style>

  <style type="text/css">

    [data-role="dynamic-fields"] > .row-container + .row-container {
      margin-top: 0.5em;
    }

    [data-role="add"] {
      display: none;
    }

    [data-role="dynamic-fields"] > .row-container:first-child [data-role="add"] {
      display: inline;
    }

    [data-role="dynamic-fields"] > .row-container:first-child [data-role="remove"] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-3"><%=patient.name%></h1>
        <p class="lead"><%-helpText%> </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p class="col-6">Height</p>
          <p class="col-3"><%=patient.height || "-"%></p>
          <p class="col-3">cms</p>
        </div>
        <div class="row">
          <p class="col-6">Weight</p>
          <p class="col-3"><%=patient.weight || "-"%></p>
          <p class="col-3">kgs</p>
        </div>
        <div class="row">
          <p class="col-6">BMI</p>
          <p class="col-6"><%=patient.bmi || "-"%></p>
        </div>
        <div class="row">
          <p class="col-6">Allergies</p>
          <p class="col-6"><%=patient.allergies || "-"%></p>
        </div>
        <div class="row">
          <p class="col-6">Alternate phone number</p>
          <p class="col-6"><%=patient.phone2 || "-"%></p>
        </div>
      </div>
    </div>
    <hr class="pb-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Investigations</h3>
        <div class='table-responsive'>
          <table class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <%table.colHeaders.forEach(elm => {%>
                <th><%=elm%></th>
                <%})%>
              </tr>
            </thead>
            <tbody>
              <%var prevCat = ""%>
              <%table.rowHeaders.forEach((elm, idx) => {%>
              <% if(elm.cat != prevCat) {%>
                <thead class='thead-default'>
                  <tr><th colspan='<%=table.colHeaders.length+1%>'>
                    <%=elm.cat%>
                  </th></tr>
                </thead>
              <%}%>
              <%prevCat = elm.cat%>
              <tr>
                <th scope="row">
                  <div class="d-flex w-100 justify-content-start align-items-baseline">
                    <span class="mb-1"><%=elm.name%></span>
                    <small class="pl-2 text-muted"><%=elm.units%></small>
                  </div>
                </th>
                <%table.values[idx].forEach(elm => {%>
                <td><%=elm%></td>
                <%})%>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <h6 class="card-subtitle pt-4">New Investigations:</h6>
        <form action='/addInvestigation/<%=patient._id %>' method='post'>
          <div data-role="dynamic-fields" id="testsDynamicContainer" class='pt-3'>

          </div>  <!-- /div[data-role="dynamic-fields"] -->
          <button type="submit" class="btn btn-outline-primary">Add Investigation(s)</button>
        </form>
      </div>
    </div>
    <div class='pt-4'>
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">New Prescription</h3>
          <form action="/addPrescription/<%=patient._id %>" method="post" id="prescriptionForm">
            <div class="form-group row required">
              <label for="diagnosis" class="col-form-label col-md-2">Diagnosis</label>
              <div class="col-md-10">
                <textarea name="diagnosis" id="diagnosis" required="true" rows=3 cols=70 class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label class="col-form-label">Chief Complaints</label>
              </div>
              <div class="col-md-10 pb-5">
                <input name="chiefComplaints" id="chiefComplaints" rows=3 cols=70 class="form-control" placeholder="eg. Headache (3 days)" data-role="tagsinput"/>
                <small class="text-muted form-text">One complaint each line</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">On Examination</label>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-5 col-md-6"> <!-- col for pulse, bp, temp-->
                    <div class="row form-group"> <!-- pulse -->
                      <label class="col-4 col-form-label">Pulse</label>
                      <div class="col-8 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationPulse" step="any">
                      </div>
                    </div>
                    <div class="row form-group"> <!-- bp -->
                      <label class="col-4 col-form-label">BP</label>
                      <div class="col-3 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationBp1" step="any">
                      </div>
                      <p class="align-middle my-auto py-auto">/</p>
                      <div class="col-3 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationBp2" step="any">
                      </div>
                    </div>
                    <div class="row form-group"> <!-- temp -->
                      <label class="col-4 col-form-label">Temp.</label>
                      <div class="col-8 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationTemp" step="any">
                      </div>
                    </div>
                  </div>
                  <div class="col-7 col-md-6 pr-md-3 mb-3"> <!-- col for notes -->
                    <textarea name="onExaminationNotes" class="form-control" placeholder="Notes" rows="6"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Investigations Required</label>
              <div class="col-md-10 investigationsTagsInputContainer">
                <input type="text" id="investigationsTagsInput"/>
                <!-- <input type="hidden" name="investigationsRequired[]" id="investigationsRequiredHidden"> -->
                <!-- <select multiple id="investigationsTagsInput" class="form-control"/> -->
                <img class="Typeahead-spinner" src="/img/ellipsis.svg" style="display: inline; display: none; position: absolute; bottom: 3px; right: 7px; width: 28px; height: 28px">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Medicines Advised</label>
              <div class="col-md-10">
                <div data-role="dynamic-fields" id="medicinesAdvisedDynamicContainer" class='pt-3'>

                </div>  <!-- /div[data-role="dynamic-fields"] -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Treatment Advised</label>
              <!-- <div class="col-md-4">
                <textarea name="medicineAdvice" class="form-control" placeholder="Medicines" rows="6"></textarea>
              </div> -->
              <div class="col-md-4 pt-2 pt-md-0">
                <textarea name="dietaryAdvice" class="form-control" placeholder="Dietary Advice" rows="6"></textarea>
              </div>
              <div class="col-md-4 pt-2 pt-md-0">
                <textarea name="otherAdvice" class="form-control" placeholder="Other Advices" rows="6"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Review After</label>
              <div class="col-8 col-md-4">
                <input class="form-control" type="number" name="reviewAfterNumber" step="any">
              </div>
              <div class="col-4 col-md-2">
                 <select class="form-control" name="reviewAfterType">
                  <option>days</option>
                  <option>weeks</option>
                  <option>months</option>
                  <option>years</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-md-2 col-md-10">
                <button type="submit" class="btn btn-outline-primary">Create Prescription </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>


</body>

</html>
