<!-- views/patient.ejs -->

<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head')%>
  <%   var now = dateformat(new Date(), 'dd/mm/yyyy');%>
  <script type="text/x-handlebars-template" id="testsTypeaheadTemplate">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div>
        <div class="row">{{name}}</div>
        <div class="text-muted row"><small>{{cat}}</small></div>
      </div>
      <small class="pl-4 text-muted">{{units}}</small>
    </div>
  </script>
  <script type="text/x-handlebars-template" id="investigationTemplate">
    <div class="form-inline-special">
      <div class="form-group row">
        <div class="col-2 pr-0 pr-md-3">
          <input class="form-control" id="dateDisplay" value="<%= now%>">
          <input type="hidden" id="date" name="date[]" value="<%= dateformat(new Date(), 'yyyy-mm-dd')%>">
        </div>
        <div class="col-4 pr-0 pr-md-3">
          <input type="text" class="form-control" id="investigationName" name="name[]" placeholder="Test name">
        </div>
        <div class="col-2 pr-0 pr-md-3">
          <input type="text" class="form-control" id="value" name="value[]" placeholder="Value">
        </div>
        <div class="col-2 pr-0 pr-md-3">
          <input type="text" class="form-control" id="units" name="units[]" placeholder="Units">
          <input type="hidden" name="cat[]" id="cat">
        </div>
        <div class="col-2 col-auto pl-3 pl-md-0">
          <button class="btn btn-success pull-right" data-role="add" id="investigationButton">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-danger pull-right" data-role="remove">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>  <!-- /div.form-inline -->
  </script>
  <script type="text/x-handlebars-template" id="medicinesAdvisedTemplate">
    <div class="form-inline-special">
      <div class="form-group row">
        <div class="col-4 pr-0 pr-md-0">
          <input type="text" class="form-control" id="medicinesAdvisedDrug" name="medicinesAdvisedDrug[]" placeholder="Drug name">
        </div>
        <div class="col-1 pr-0 pr-md-0">
          <input type="text" class="form-control" id="medicinesAdvisedDosage" name="medicinesAdvisedDosage[]" placeholder="Dosage">
        </div>
        <div class="col-2 pr-0 pr-md-0">
          <input type="text" class="form-control" id="medicinesAdvisedFrequency" name="medicinesAdvisedFrequency[]" placeholder="Frequency">
        </div>
        <div class="col-2 pr-0 pr-md-0">
          <input type="text" class="form-control" id="medicinesAdvisedDuration" name="medicinesAdvisedDuration[]" placeholder="Duration">
        </div>
        <div class="col-2 pr-0 pr-md-0">
          <input type="text" class="form-control" id="medicinesAdvisedSpecialAdvice" name="medicinesAdvisedSpecialAdvice[]" placeholder="Special Advice">
        </div>
        <div class="col-1 col-auto pl-3 pl-md-0">
          <button class="btn btn-success pull-right" data-role="add" id="medicinesAdvisedButton">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-danger pull-right" data-role="remove">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>  <!-- /div.form-inline -->
  </script>
  <script type="text/x-handlebars-template" id="investigationRequiredTemplate">
    <div class="form-inline-special">
      <div class="form-group row">
        <div class="col-10 col-md-4 pr-0 pr-md-3">
          <input type="text" class="form-control" id="investigationName" name="investigationsRequired[]" placeholder="Investigation name">
        </div>
        <div class="col-2 col-auto pl-3 pl-md-0 offset-md-6">
          <button class="btn btn-success pull-right" data-role="add" id="investigationRequiredButton">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-danger pull-right" data-role="remove">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
    </div>  <!-- /div.form-inline -->
  </script>
  <script type="text/javascript">
    console.log("hello")
    var testsSource;
    var investigationsRequiredSource;
    invTmpl = Handlebars.compile($('#investigationTemplate').html())
    invRqdTmpl = Handlebars.compile($('#investigationRequiredTemplate').html())
    medicinesAdvisedTemplate = Handlebars.compile($('#medicinesAdvisedTemplate').html())
    function getNewInvestigationElement() {
      var $jqueryElement = $(invTmpl());
      // fix background-color transparent if possible
      $("#investigationName", $jqueryElement).typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        display: 'name',
        source: testsSource,
        templates: {
          suggestion: Handlebars.compile($('#testsTypeaheadTemplate').html())
        }
      }).on('typeahead:select', function(ev, suggestion) {
        $(this).parents().eq(1).next().next().children('#units').val(suggestion.units)
        $(this).parents().eq(1).next().next().children('#cat').val(suggestion.cat)
      })
      $('#dateDisplay', $jqueryElement).datepicker({
        format: {
          toDisplay: function (date, format, language) {
            $('#date', $jqueryElement).val(date.toISOString().slice(0, 10))
            return date.toISOString().replace( /(\d{4})-(\d{2})-(\d{2}).*/, "$3/$2/$1")
          },
          toValue: function (date, format, language) {
           return new Date(date.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$3-$2-$1"))
         }
       }
     })
      return $jqueryElement
    }

    function getNewInvestigationRequiredElement() {
      var $jqueryElement = $(invRqdTmpl());
      // fix background-color transparent if possible
      $("#investigationName", $jqueryElement).typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'states',
        source: investigationsRequiredSource,
      })
      return $jqueryElement
    }

    function getMedicinesAdvisedElement() {
      var $jqueryElement = $(medicinesAdvisedTemplate());
      // fix background-color transparent if possible
      return $jqueryElement
    }

    $.get('/json/investigationsRequired.json', function(data) {

      // constructs the suggestion engine
      investigationsRequiredSource = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.nonword,
        queryTokenizer: Bloodhound.tokenizers.nonword,
        // `states` is an array of state names defined in "The Basics"
        local: data
      });
      for (var i = 0; i < 5; i++) {
        $('#investigationsRequiredDynamicContainer').append(getNewInvestigationRequiredElement())
      }
    }, 'json')
    $.get("/json/tests.json", function(data){

    // constructs the suggestion engine
    testsSource = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.nonword('name'),
      queryTokenizer: Bloodhound.tokenizers.nonword,
      // `states` is an array of state names defined in "The Basics"
      local: data
    });
    // add the first investigation input
    $('#investigationsDynamicContainer').append(getNewInvestigationElement())
    $('#medicinesAdvisedDynamicContainer').append(getMedicinesAdvisedElement())

    // $('#investigationsRequiredDynamicContainer').append(getNewInvestigationRequiredElement())

  },'json');

</script>

<script type="text/javascript">
 $(function() {
    // Remove button click
    $(document).on(
      'click',
      '[data-role="dynamic-fields"] > .form-inline-special [data-role="remove"]',
      function(e) {
        e.preventDefault();
        $(this).closest('.form-inline-special').remove();
      }
      );
    // Add button click
    $(document).on(
      'click',
      '[data-role="dynamic-fields"] > .form-inline-special [data-role="add"]',
      function(e) {
        e.preventDefault();
        var container = $(this).closest('[data-role="dynamic-fields"]');
        if ($(this).attr('id') == 'investigationButton')
          container.prepend(getNewInvestigationElement());
        else if ($(this).attr('id') == 'investigationRequiredButton')
          container.prepend(getNewInvestigationRequiredElement());
        else
          container.prepend(getMedicinesAdvisedElement());
      }
      );
  });

</script>
<style type="text/css">

  [data-role="dynamic-fields"] > .form-inline-special + .form-inline-special {
    margin-top: 0.5em;
  }

  [data-role="dynamic-fields"] > .form-inline-special [data-role="add"] {
    display: none;
  }

  [data-role="dynamic-fields"] > .form-inline-special:first-child [data-role="add"] {
    display: inline;
  }

  [data-role="dynamic-fields"] > .form-inline-special:first-child [data-role="remove"] {
    display: none;
  }
</style>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <%- include('partials/header')%>
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-3"><%=patient.name%></h1>
        <p class="lead"><%-helpText%> </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p class="col-6">Height</p>
          <p class="col-3"><%=patient.height || "-"%></p>
          <p class="col-3">cms</p>
        </div>
        <div class="row">
          <p class="col-6">Weight</p>
          <p class="col-3"><%=patient.weight || "-"%></p>
          <p class="col-3">kgs</p>
        </div>
        <div class="row">
          <p class="col-6">BMI</p>
          <p class="col-6"><%=patient.bmi || "-"%></p>
        </div>
        <div class="row">
          <p class="col-6">Allergies</p>
          <p class="col-6"><%=patient.allergies || "-"%></p>
        </div>
        <div class="row">
          <p class="col-6">Alternate phone number</p>
          <p class="col-6"><%=patient.phone2 || "-"%></p>
        </div>
      </div>
    </div>
    <hr class="pb-4">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Investigations</h3>
        <div class='table-responsive'>
          <table class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <%table.colHeaders.forEach(elm => {%>
                <th><%=elm%></th>
                <%})%>
              </tr>
            </thead>
            <tbody>
              <%var prevCat = ""%>
              <%table.rowHeaders.forEach((elm, idx) => {%>
              <% if(elm.cat != prevCat) {%>
                <thead class='thead-default'>
                  <tr><th colspan='<%=table.colHeaders.length+1%>'>
                    <%=elm.cat%>
                  </th></tr>
                </thead>
              <%}%>
              <%prevCat = elm.cat%>
              <tr>
                <th scope="row">
                  <div class="d-flex w-100 justify-content-start align-items-baseline">
                    <span class="mb-1"><%=elm.name%></span>
                    <small class="pl-2 text-muted"><%=elm.units%></small>
                  </div>
                </th>
                <%table.values[idx].forEach(elm => {%>
                <td><%=elm%></td>
                <%})%>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <h6 class="card-subtitle pt-4">New Investigations:</h6>
        <form action='/addInvestigation/<%=patient._id %>' method='post'>
          <div data-role="dynamic-fields" id="investigationsDynamicContainer" class='pt-3'>

          </div>  <!-- /div[data-role="dynamic-fields"] -->
          <button type="submit" class="btn btn-outline-primary">Add Investigation(s)</button>
        </form>
      </div>
    </div>
    <div class='pt-4'>
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">New Prescription</h3>
          <form action="/addPrescription/<%=patient._id %>" method="post">
            <div class="form-group row required">
              <label for="diagnosis" class="col-form-label col-md-2">Diagnosis</label>
              <div class="col-md-10">
                <textarea name="diagnosis" id="diagnosis" required="true" rows=3 cols=70 class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label class="col-form-label">Chief Complaints</label>
              </div>
              <div class="col-md-10 pb-5">
                <textarea name="chiefComplaints" id="chiefComplaints" rows=3 cols=70 class="form-control" placeholder="eg. Headache (3 days)"></textarea>
                <small class="text-muted form-text">One complaint each line</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">On Examination</label>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-5 col-md-6"> <!-- col for pulse, bp, temp-->
                    <div class="row form-group"> <!-- pulse -->
                      <label class="col-6 col-form-label">Pulse</label>
                      <div class="col-6 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationPulse" step="any">
                      </div>
                    </div>
                    <div class="row form-group"> <!-- bp -->
                      <label class="col-6 col-form-label">BP</label>
                      <div class="col-6 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationBp" step="any">
                      </div>
                    </div>
                    <div class="row form-group"> <!-- temp -->
                      <label class="col-6 col-form-label">Temp.</label>
                      <div class="col-6 pr-0 pr-md-3">
                        <input class="form-control" type="number" name="onExaminationTemp" step="any">
                      </div>
                    </div>
                  </div>
                  <div class="col-7 col-md-6 pr-md-3 mb-3"> <!-- col for notes -->
                    <textarea name="onExaminationNotes" class="form-control" placeholder="Notes" rows="6"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Investigations Required</label>
              <div class="col-md-10">
                <div data-role="dynamic-fields" id="investigationsRequiredDynamicContainer" class='pt-3'>

                </div>  <!-- /div[data-role="dynamic-fields"] -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Medicines Advised</label>
              <div class="col-md-10">
                <div data-role="dynamic-fields" id="medicinesAdvisedDynamicContainer" class='pt-3'>

                </div>  <!-- /div[data-role="dynamic-fields"] -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Treatment Advised</label>
              <!-- <div class="col-md-4">
                <textarea name="medicineAdvice" class="form-control" placeholder="Medicines" rows="6"></textarea>
              </div> -->
              <div class="col-md-3 pt-2 pt-md-0">
                <textarea name="dietaryAdvice" class="form-control" placeholder="Dietary Advice" rows="6"></textarea>
              </div>
              <div class="col-md-3 pt-2 pt-md-0">
                <textarea name="otherAdvice" class="form-control" placeholder="Other Advices" rows="6"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">Review After</label>
              <div class="col-8 col-md-4">
                <input class="form-control" type="number" name="reviewAfterNumber" step="any">
              </div>
              <div class="col-4 col-md-2">
                 <select class="form-control" name="reviewAfterType">
                  <option>days</option>
                  <option>weeks</option>
                  <option>months</option>
                  <option>years</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-md-2 col-md-10">
                <button type="submit" class="btn btn-outline-primary">Create Prescription </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>


</body>

</html>
